/*
CSS property: transform

  - starting background color: blue
  - ending background color: red
  - width: 100px;
  - height: 100px;
  - duration for animation: 4s
  - the name of the animation: changeColor
*/

.animation {
  width: 100px;
  height: 100px;
  animation-name: changeColor;
  animation-duration: 4s;
}

@keyframes changeColor {
  from {
    background-color: blue;
  }
  to {
    background-color: red;
  }
}